.navbar{
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
.btnCerrarSesion{
  text-decoration: none;
  display: inline-block;
  color: white;
}

.strongJS{
  color: red;
}

.logotitulo{
  text-shadow: 1px 1px 3px #272727;
}